body {
  background: #efefe9;
  margin: 0;
  padding: 0;
  color: #555;
  font-size: 13px;
}

input[type=range] {
  vertical-align: middle;
}

.command {
  padding: 2px 4px;
  margin: 0 5px;
  font-size: 1.2em;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

table.table-rules {
  width: 100%;
  border: 2px solid #ddd;
}
table.table-rules th, table.table-rules td {
  padding: 5px 10px;
  text-align: center;
}
table.table-rules th:first-child, table.table-rules td:first-child {
  text-align: left;
}
table.table-rules th {
  background-color: #ddd;
}
table.table-rules tbody tr:not(:first-child) td {
  border-top: 1px solid #ddd;
}



.form-group .controls .hint {
  color: #aaa;
  margin-top: 10px;
  margin-bottom: 0;
}

.radio-inline {
  display: inline-block;
  margin-right: 5px;
}
