body {
  background: #efefe9;
  margin: 0;
  padding: 0;
  color: #555;
  font-size: 13px;
}

.board {
  width: 65%;
  min-width: 800px;
  margin: 60px auto;
  background: #fff;
}
.board .board-header {
  background: #fafafa url('../../images/bg.png');
  background-size: 30%;
  border-bottom: 1px solid #eee;
  padding: 10px 30px;
}
.board .board-header .title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 48px;
  display: inline-block;
}
.board .board-header img {
  vertical-align: middle;
}


.board-content {
  padding: 30px;
}

input[type=range] {
  vertical-align: middle;
}

.command {
  padding: 2px 4px;
  margin: 0 5px;
  font-size: 1.2em;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

table.table-rules {
  width: 100%;
  border: 2px solid #ddd;
}
table.table-rules th, table.table-rules td {
  padding: 5px 10px;
  text-align: center;
}
table.table-rules th:first-child, table.table-rules td:first-child {
  text-align: left;
}
table.table-rules th {
  background-color: #ddd;
}
table.table-rules tbody tr:not(:first-child) td {
  border-top: 1px solid #ddd;
}

.form-group {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #f0f0f0;
}
.form-group:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.form-group .control-label {
  margin: 3px 0;
  float: left;
  width: 200px;
  font-weight: bold;
  font-size: 1.1em;
}
.form-group .controls {
  margin-left: 200px;
}
.form-group .controls .hint {
  color: #aaa;
  margin-top: 10px;
  margin-bottom: 0;
}

.radio-inline {
  display: inline-block;
  margin-right: 5px;
}
